!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  = show_info(:codebreaker_title)
            %p.lead.text-white-70
              = show_info(:top_players)
            %hr.mb-4/
            .table-responsive-md.scores
              %table.table.table-striped.table.table-sm
                %thead
                  %tr
                    %th{:scope => "col"} #
                    %th{:scope => "col"} Name
                    %th{:scope => "col"} Level
                    %th{:scope => "col"} Attempts Left
                    %th{:scope => "col"} Hints Left
                    %th{:scope => "col"} Date
                %tbody
                  %tr
                    %th{:scope => "row"} 1
                    %td Player 1
                    %td Middle
                    %td 8/10
                    %td 3/3
                    %td 2018.12.04 - 17:00:01
                  %tr
                    %th{:scope => "row"} 2
                    %td Player 1
                    %td Middle
                    %td 8/10
                    %td 3/3
                    %td 2018.12.04 - 17:00:01
                  %tr
                    %th{:scope => "row"} 3
                    %td Player 1
                    %td Middle
                    %td 8/10
                    %td 3/3
                    %td 2018.12.04 - 17:00:01
                  %tr
                    %th{:scope => "row"} 4
                    %td Player 1
                    %td Middle
                    %td 8/10
                    %td 3/3
                    %td 2018.12.04 - 17:00:01
            %hr.mb-4/
            %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
              Home
